# Gradle
.gradle/
build/
**/build/
local.properties
.gradle

# Android Studio
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Kotlin/Java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# Logs
*.log

# Other
captures/
outputs/
